<dialog id="evaluate-error">
    <p id="evaluate-error-message"></p>
    <form method="dialog">
        <button id="dialog-close-button" autofocus >Close</button>
    </form>
</dialog>
<dialog id="evaluate-loading">
    <img
        id="loading-gif"
        src="/loading.gif"
        alt="Loading Your Image, Please Wait. "
    />
</dialog>
<dialog id="responsible-use-modal">
    <p>Please use this tool responsibly. Our descriptive alt text generator is designed to help make online content more accessible to everyone, especially individuals with visual impairments. When using this tool, ensure that the generated text accurately represents the content it describes and is used in a respectful and inclusive manner. Misuse of this tool, such as providing misleading or inappropriate descriptions, can harm the user experience and undermine the purpose of creating an accessible digital environment. Thank you for your commitment to accessibility and responsible usage.</p>
    <form method="dialog">
        <button id="dialog-close-button" autofocus >Close</button>
    </form>
</dialog>