<!-- This dialog is designed to display error messages to the user. It contains a paragraph element where the error
     message is displayed and a form with a button to close the dialog. -->
<dialog id="evaluate-error">
    <p id="evaluate-error-message"></p>
    <form method="dialog">
        <button id="dialog-close-button" autofocus >Close</button>
    </form>
</dialog>

<!-- This dialog serves as a loading indicator. It displays an image (a loading GIF) to inform the user 
    that a process is ongoing and they need to wait. -->
<dialog id="evaluate-loading">
    <img
        id="loading-gif"
        src="/loading.gif"
        alt="Loading Your Image, Please Wait. "
    />
</dialog>

<!-- This dialog provides information about the responsible use of the tool. It explains the importance of creating 
    accurate and respectful alt text for accessibility purposes. The dialog includes a paragraph with the message 
    and a form with a button to close the dialog. -->
<dialog id="responsible-use-modal">
    <p>Please use this tool responsibly. Our descriptive alt text generator is designed to help make online content more accessible to everyone, especially individuals with visual impairments. When using this tool, ensure that the generated text accurately represents the content it describes and is used in a respectful and inclusive manner. Misuse of this tool, such as providing misleading or inappropriate descriptions, can harm the user experience and undermine the purpose of creating an accessible digital environment. Please see 
    <a href="https://marcom.wwu.edu/writers-guide">writer's guide</a>
  and 
    <a href="https://marcom.wwu.edu/accessibility/guide">accessibility guide</a>
 for best practices. Thank you for your commitment to accessibility and responsible usage.</p>
    <form method="dialog">
        <button id="dialog-close-button" autofocus >Close</button>
    </form>
</dialog>