<dialog id="evaluate-error">
    <p id="evaluate-error-message"></p>
    <form method="dialog">
        <button id="dialog-close-button" autofocus >Close</button>
    </form>
</dialog>
<dialog id="evaluate-loading">
    <img
        id="loading-gif"
        src="/loading.gif"
        alt="Loading Your Image, Please Wait. "
    />
</dialog>