<astro-upload>
	<div class="wwu-card horizontal dark-blue-bg">
		<div class="body">
			<form id="file-upload-form">
				<label for="file-input"><h3>File</h3></label>
				<input type="file" id="file-input" accept=".png,.jpg,.jpeg,.webp" />

				<details id="advanced-options">
					<summary>Advanced Options</summary>
					<div class="checkbox">
						<input
							type="checkbox"
							id="limit-response"
							name="limit"
							value="First"
						/><label for="limit-response"
							>Limit responses to under 260 characters.</label>
					</div>
				</details>
			</form>

			<button id="evaluate-image">Evaluate Image</button>
		</div>
		<canvas aria-label="Image to generate" id="canvas"></canvas>
	</div>
</astro-upload>

<script>
	class AstroUpload extends HTMLElement {
		constructor() {
			super();
		}
	}
	// document.getElementById("prompt").value = "";
	customElements.define("astro-upload", AstroUpload);
</script>

<script src="../js/UploadHelper.js"></script>

<!-- "Requests to the ChatCompletions_Create Operation under Azure OpenAI API version 2024-03-01-preview have exceeded call rate limit of your current OpenAI S0 pricing tier. Please retry after 18 seconds. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit." -->
