---
import Metadata from "./Metadata.astro";
---
<astro-upload>
	<div class="wwu-card horizontal dark-blue-bg">
		<div class="body">
			<form id="file-upload-form">
				<label for="file-input"><h3>File</h3></label>
				<input type="file" id="file-input" accept=".png,.jpg,.jpeg,.webp"/>

				<details id="advanced-options">
					<summary>Advanced Options</summary>
					<details id="character-limit" open>
						<summary>Character Limit</summary>
						<div class="radio">
							<input
								type="radio"
								id="limit-response-140"
								name="limit"
								value="140"
								checked
							/><label for="limit-response-140"
						>Limit responses to under 140 characters.</label
						>
						</div>
						<div class="radio">
							<input
								type="radio"
								id="limit-response-280"
								name="limit"
								value="280"
							/><label for="limit-response-280"
						>Limit responses to under 280 characters.</label
						>
						</div>
						<div class="radio">
							<input
								type="radio"
								id="limit-response-none"
								name="limit"
								value="no-limit"
							/><label for="limit-response-none">No character limit.</label>
						</div>
					</details>
					<details id="other-options">
						<summary>Other</summary>
						<div class="checkbox">
							<input type="checkbox" id="responsible-use" name="responsible-use"/>
							<label for="responsible-use">Turn off responsible use modal</label>

						</div>
						<div class="checkbox">
							<input type="checkbox" id="show-metadata" name="show-metadata" checked="checked"/>
							<label for="show-metadata">Enable download metadata button</label>
						</div>
					</details>
				</details>
			</form>

			<button id="evaluate-image">Evaluate Image</button>
		</div>
		<div class="image-area">
			<div class="image-area-content">
				<canvas aria-label="Image to generate" id="canvas">
				</canvas>
				<div class="bottom-right-metadata">
					<Metadata/>
				</div>
			</div>
		</div>
	</div>
</astro-upload>

<script>
	class AstroUpload extends HTMLElement {
		constructor() {
			super();
		}
	}

	// document.getElementById("prompt").value = "";
	customElements.define("astro-upload", AstroUpload);
</script>

<script src="../js/UploadHelper.js"></script>

<!-- "Requests to the ChatCompletions_Create Operation under Azure OpenAI API version 2024-03-01-preview have exceeded call rate limit of your current OpenAI S0 pricing tier. Please retry after 18 seconds. Please go here: https://aka.ms/oai/quotaincrease if you would like to further increase the default rate limit." -->
