<section class="site-footer" aria-label="Descriptive Alt Text Generator Footer">
  <div class="footer-region">
    <div class="region region--foter_left"></div>
  </div>
</section>

<wwu-footer></wwu-footer>
