---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<a href="#main-content" class="skip-link"><span class="skip-link-text">Skip to Content </span></a>
<wwu-header sitename={title} regioncontent=""></wwu-header>
