<div>
	<div class="horizontal-row">
		<span class="login-status" aria-hidden="true">â—</span>
		<p>Logged in as: <span id="username"></span></p>
	</div>
</div>

<script src="../js/authHelper.js">
</script>
