<wwu-main-nav>
<!-- if you use npm run dev then... is there a variable to set to link to the dev files so we can test the main nav links in the dev environment? -->
    <!-- <a href="index.astro">Home</a>
    <a href="ContactUs.astro">Contact Us</a>
    <a href="adminPage.astro">Admin Page</a>
-->

<!-- if you use npm run build then, since the incdex.html file lives in /dist, we'll need to point the main nav links to their corresponding pages -->
    <a href="index.html">Home</a>
    <a href="./ContactUs/index.html">Contact Us</a>
    <a href="./AdminPage/index.html">Admin Page</a>

<!-- I've still got problems with these links not consistently working. Not sure why. I'll just push the changes up to see if one of you can figure it out. It's a little too late for me to be doing development work. Patience is waning. -->
</wwu-main-nav>