<wwu-main-nav>
    <a href="index.html">Home</a>
<a href="Generate.html">Generate Alt Text</a>    
    <a href="ContactUs.html">Contact Us</a>

<!--
                              <wwu-has-children label="Settings">
                                      <wwu-sub-menu>
    <a href="AdministrationTools.html">Administration Tools</a>
<a href="History.html">History</a>

<a href="PersonalSettings.html">Personal Settings</a>
<a href="UsageData.html">Usage Data</a>
                                      </wwu-sub-menu>
                                  </wwu-has-children>
-->
</wwu-main-nav>