---
// Alex Kefer // 5/29/2024 // Button component to download CSV of metadata
---
<button class="download-button" id="metadata" aria-label="Download Image metadata">
	<i class="material-symbols-outlined">
		code_blocks
	</i>
</button>

<link rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<script src="../js/Metadata.js"></script>
