---
interface Props {
  model_id: string;
  button_id: string;
}

const { model_id, button_id } = Astro.props;
---

<details id="refine-detail">
    <summary>Refine results</summary>
  <label for={model_id}><h4>Additional information</h4></label>
  <textarea
    id={model_id}
    placeholder="Enter additional information"
    wrap="hard"
    rows="2"></textarea>
  <button id={button_id}>Refine</button>
</details>

<script src="../js/RefineHelper.js"></script>

