---
import RefineResults from "./RefineResults.astro";
import Clipboard from "./Clipboard.astro";
import CharacterCount from "./CharacterCount.astro";

//gives init val to fileName
let fileName = 'None';
---



<div id="results-container" style="display: none;">
	<h2 id="results-section">Results</h2>
	<!--trying to add a selected image text for accesability, seems to work -->
	<p>Selected file: <span id="file-name">{fileName}</span></p>

	<label for="gemini-area"><h3>Gemini</h3></label>
	<div class="resultsWithClipboard">
	<textarea
		id="gemini-area"
		placeholder="Results from Gemini"
		wrap="hard"
		rows="8"
		></textarea>
		<div class="bottom-right">
			<CharacterCount charCount_id="gemini-char-count"/>
			<Clipboard copy_button_id="copy-gemini-button"/>
		</div>
	</div>
	<RefineResults detail_id="refine-gemini-detail" model_id="refine-gemini" button_id="refine-gemini-button"/>

	<!--
	<label for="azure-area"><h3>Azure</h3></label>
	<textarea
		id="azure-area"
		placeholder="Results from Azure"
		wrap="hard"
		rows="5">
		</textarea>
		-->

	<label for="chatgpt-area"><h3>ChatGPT</h3></label>
	<div class="resultsWithClipboard">
	<textarea
		id="chatgpt-area"
		placeholder="Results from ChatGPT"
		wrap="hard"
		rows="8">
	</textarea>
		<div class="bottom-right">
			<CharacterCount charCount_id="chatgpt-char-count"/>
			<Clipboard copy_button_id="copy-chatgpt-button"/>
		</div>
	</div>
	<RefineResults detail_id="refine-chatgpt-detail" model_id="refine-chatgpt" button_id="refine-chatgpt-button"/>
</div>

<script type="module">
	document.addEventListener('fileSelected', (event) => {
	  const fileName = event.detail;
	  const fileNameElement = document.querySelector('#file-name');
	  fileNameElement.textContent = fileName;
	});
</script>
