---

import RefineResults from "./RefineResults.astro";
import Upload from "./Upload.astro";
import UrlUpload from "./UrlUpload.jsx";
---

<div>
	<h2 id="#input-form">Input An Image</h2>
	<wwu-switcher label="Upload Type">
		<dialog id="evaluate-error">
			<p id="evaluate-error-message"></p>
			<form method="dialog">
				<button>OK</button>
			</form>
		</dialog>
		<dialog id="evaluate-loading">
			<img src="/loading.gif" alt="Loading gif" style="width:100px;height:100px;">
		</dialog>
		<wwu-switcher-item label="File Upload">
			<Upload />
		</wwu-switcher-item>
		<wwu-switcher-item label="Link to Image *WIP*">
			<UrlUpload client:load/>
		</wwu-switcher-item>
	</wwu-switcher>
	<!-- Once the image is loaded, place a data table with the XIFF data here. Something to do if you have time. Not a priority -->
	<!-- Don't activate the evaluation button until after the image is loaded completely -->

	<!-- When the evaluation is complete, populate the page with the results from the AI engines -->
	<h2 id="results-section">Results</h2>
	<!-- radio group that the user can select suggested alt text from, or just present all of the information and let the user decide what to use. It's up to you. -->
	<label  for="gemini-area"><h3>Gemini</h3></label>
	<textarea
		id="gemini-area"
		placeholder="Results from Gemini"
		wrap="hard"
		rows="5"
		style={{ width: "100%" }}></textarea>
	<!-- <p id="gemini-caption">Results from Gemini</p> -->
	<RefineResults model_id="refine-gemini" button_id="refine-gemini-button"/>
	<!-- <button>Refine Results</button> -->

	<label  for="azure-area"><h3>Azure</h3></label>
	<textarea
		id="azure-area"
		placeholder="Results from Azure"
		wrap="hard"
		rows="5"
		style={{ width: "100%" }}></textarea>
</div>

<script is:inline>
	//Script to have Image Upload and Image URL switch between both file upload types
	function showURLForm() {
		document.getElementById("upload-form").style.display = "block";
		document.getElementById("url-form").style.display = "none";
	}
	function showUploadForm() {
		document.getElementById("upload-form").style.display = "none";
		document.getElementById("url-form").style.display = "block";
	}
</script>

