---

import RefineResults from "./RefineResults.astro";
import Upload from "./Upload.astro";
import UrlUpload from "./UrlUpload.jsx";
---

<div>
	<h2 id="#input-form">Input An Image</h2>
	<wwu-switcher label="Upload Type">
		<dialog id="evaluate-error">
			<p id="evaluate-error-message"></p>
			<form method="dialog">
				<button>OK</button>
			</form>
		</dialog>
		<dialog id="evaluate-loading">
			<img
				src="/loading.gif"
				alt="Loading Your Image, Please Wait. "
				style="width:100px;height:100px;"
			/>
		</dialog>
		<wwu-switcher-item label="File Upload">
			<Upload />
		</wwu-switcher-item>
		<wwu-switcher-item label="Link to Image *WIP*">
			<UrlUpload client:load />
		</wwu-switcher-item>
	</wwu-switcher>

	<h2 id="results-section">Results</h2>

	<label for="gemini-area"><h3>Gemini</h3></label>
	<textarea
		id="gemini-area"
		placeholder="Results from Gemini"
		wrap="hard"
		rows="5"
		style={{ width: "100%" }}></textarea>
	<RefineResults
		model_id="refine-gemini"
		button_id="refine-gemini-button"
	/>

	<label for="azure-area"><h3>Azure</h3></label>
	<textarea
		id="azure-area"
		placeholder="Results from Azure"
		wrap="hard"
		rows="5"
		style={{ width: "100%" }}></textarea>
</div>

<script is:inline>
	//Script to have Image Upload and Image URL switch between both file upload types
	function showURLForm() {
		document.getElementById("upload-form").style.display = "block";
		document.getElementById("url-form").style.display = "none";
	}
	function showUploadForm() {
		document.getElementById("upload-form").style.display = "none";
		document.getElementById("url-form").style.display = "block";
	}
</script>

