---
interface Props {
  key: string;
  endpoint: string;
}

const { key, endpoint } = Astro.props;
---

<astro-upload data-endpoint={endpoint} data-key={key}>
  <button>Test API Call</button>
</astro-upload>

<script>
  class AstroUpload extends HTMLElement {
    constructor() {
      super();

      const handleAPICall = () => {
        const headers = {
          "Content-Type": "application/json",
          "Ocp-Apim-Subscription-Key": this.dataset.key,
        };

        const requestData = {
          url: "https://cdn.britannica.com/84/145084-050-A0268BC0/Old-Main-Western-Washington-University-Bellingham.jpg",
        };

        fetch(this.dataset.endpoint, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData),
        })
          .then((response) => response.json())
          .then((data) => {
            const captionText = data.description.captions[0].text;

            const captionElement = document.getElementById("azure-caption");
            captionElement.textContent = captionText;
          })
          .catch((error) => {
            console.error("Error: ", error);
          });
      };

      // Read the message from the data attribute.
      const message = this.dataset.endpoint;
      const button = this.querySelector("button");
      button.addEventListener("click", () => {
        handleAPICall();
      });
    }
  }

  customElements.define("astro-upload", AstroUpload);
</script>
