<astro-upload>
	<div class="wwu-card horizontal dark-blue-bg">
		<div class="body">
			<form id="url-upload-form ">
				<label for="url-upload"><h3>URL</h3></label>
				<input id="url-upload" type="url" placeholder="Enter a URL" required />
				<details id="advanced-options">
					<summary>Advanced Options</summary>
					<details id="character-limit" open>
						<div class="radio">
							<input
								type="radio"
								id="limit-response-140-url"
								name="limit"
								value="140"
								checked
							/><label for="limit-response-140-url"
								>Limit responses to under 140 characters.</label
							>
						</div>
						<div class="radio">
							<input
								type="radio"
								id="limit-response-280-url"
								name="limit"
								value="280"
							/><label for="limit-response-280-url"
								>Limit responses to under 280 characters.</label
							>
						</div>
						<div class="radio">
							<input
								type="radio"
								id="limit-response-none-url"
								name="limit"
								value="no-limit"
							/><label for="limit-response-none-url">No character limit.</label>
						</div>
					</details>
					<!-- Expandable section for other options -->
					<details id="other-options">
						<summary>Other</summary>
						<div class="checkbox">
							<input
								type="checkbox"
								id="responsible-use"
								name="responsible-use"
							/>
							<label for="responsible-use">Turn off responsible use modal</label
							>
						</div>
					</details>
				</details>
			</form>
			<button id="evaluate-url"> Evaluate URL </button>
		</div>
		<canvas aria-label="filename" id="url-canvas"></canvas>
	</div>
</astro-upload>

<script src="../js/UploadHelper.js"></script>
