---
// Astro version of UrlUpload component
interface Props {
  key: string;
  endpoint: string;
}

const { key, endpoint } = Astro.props;
let img_src = "";
---

<astro-upload data-endpoint={endpoint} data-key={key}>
    <div class="wwu-card horizontal dark-blue-bg">
      <div class="body">
    <form style={{ marginTop: "20px", marginBottom: "20px" }}>
      <label for="url-upload"><h3>Upload From URL</h3></label>
        <input
            id="url-upload"
            type="url"
            placeholder="Enter a URL"
            style={{ width: "100%", lineHeight: "1.5em" }}
            oninput="handleInput(event)"
            required
        />
      <label for="prompt"><h3>Prompt <i>[Optional]</i></h3></label>
      <textarea
        id="prompt"
        placeholder="Enter a prompt"
        rows="5"
        wrap="hard"
        style={{ width: "100%" }}
      >
      </textarea>
    </form>
    <button id="evaluate-image">Evaluate Image</button>
      </div>
    </div>
  </astro-upload>

<script>
    //TODO: Implement live image viewer
		addEventListener("input", (event) => {
			const src = event.target.value;
			const img = document.querySelector("img");
		});
		//TODO: Send to the Azure API
</script>

