.copy-button {
	box-shadow: none;
	color: -moz-default-color;
	cursor: pointer;
	font-size: 1.2em;
}

#copy-gemini-button:hover,
#copy-chatgpt-button:hover {
	scale: 1.05;
}

.resultsWithClipboard {
	position: relative;
}

.resultsWithClipboard textarea {
	width: 100%;
	resize: none;
}

.bottom-right {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	right: 0;
	gap: 8px;
}

.character-count {
	font-size: 1.2em;
	color: rgba(255, 255, 255, 0.80);
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	height: 48px;
}


