#evaluate-error {
	max-width: 50%;
}
#evaluate-error-message {
	margin: auto;
	word-break: break-word;
	white-space: normal;
}

#dialog-close-button {
	margin: auto;
	width: 5em;
	display: block;
}

#responsible-use-modal {
	max-width: 50%;
}

#responsible-use-modal {
	text-align: center;
}