#loading-gif {
	width: 100px;
	height: 100px;
}

#gemini-area,
#azure-area,
#chatgpt-area {
	font-size: 1em;
	width: 100%;
}

.two-col-80-20 {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 10px;
}

.login-status {
	font-size: 1.2em;
	margin-top: 2.5px;
	color: #00c500;
	border-color: black;
}

.horizontal-row {
	display: flex;
	flex-direction: row;
	gap: 4px;
	font-size: 18px;
	margin-top: 8px;
	margin-right: 4px;
	padding: 0 8px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	height: 32px;
	width: fit-content;
	float: right;
}

.visually-hidden {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
	clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
	white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
