#refine-gemini-detail, #refine-chatgpt-detail {
	width: 75%;
	border-color: transparent;
}

#refine-gemini-detail summary, #refine-chatgpt-detail summary {
	border: none;
}

#refine-gemini-detail textarea, #refine-chatgpt-detail textarea {
	width: 100%;
}
