---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Personal Settings | Descriptive Alt Text Generator | Western Washington University"
>
	<!-- main starts here according to the layout.astro file -->
	<div class="page-content">
		<div class="region-wrapper">
			<h1>Descriptive Alt Text Generator Personal Settings</h1>

			<p>A good place for users to review and retrieve personal data?</p>
		</div>
	</div>

	<!-- main ends here according to the layout.astro file -->
</Layout>
