---
import Layout from "../layouts/Layout.astro";
---
<Layout
	title="404 | Descriptive Alt Text Generator | Western Washington University">

	<div class="page-content">
		<div class="region-wrapper">

			<h1>404: File Not Found</h1>
			<p>We can't find the requested file, please click a menu item above to return to the DATG application

			</p>


		</div> <!-- class region-wrapper -->			
		</div> <!-- class page-content -->

</Layout>
