---
import Layout from "../layouts/Layout.astro";
---
 
<Layout
  title="Administration Pages | Descriptive Alt Text Generator | Western Washington University"
>

<!-- main starts here according to the layout.astro file -->
<div class="page-content">
    <div class="region-wrapper">
      <h1>Descriptive Alt Text Generator Administration Pages Documentation</h1>
      <h2>Personal Settings</h2>
      <h2>Data Usage and Cost</h2>
      
      <h2>History</h2>
<h2>Admin Login</h2>

      <button>Download your data</button>

		</div>
    </div>
  
  <!-- main ends here according to the layout.astro file -->
</Layout>
