---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"
import MainNav from "../components/MainNav.astro"
import Footer from "../components/Footer.astro"
import Upload from "../components/Upload.astro"
const endpoint = import.meta.env.VITE_END_POINT;
const subscriptionKey = import.meta.env.VITE_SUBSCRIPTION_KEY;
---
 
<Layout
  title="Administration Page | Descriptive Alt Text Generator | Western Washington University"
>

<!-- main starts here according to the layout.astro file -->
    <div class="region-wrapper">
      <h1>Descriptive Alt Text Generator Admin Page</h1>
      <h2>Data Usage</h2>
      <p>A data table here to present cost and usage information</p>

      <button>Download CSV</button>

      <h2>Upload API Keys</h2>
      <p>If it's possible to upload an individuals API key for each AI engine, it might be nice to provide that interface here in the Admin Page</p>
		</div>
  
  <!-- main ends here according to the layout.astro file -->
</Layout>
