---
import $ from "jquery";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"
import MainNav from "../components/MainNav.astro"
import Footer from "../components/Footer.astro"
import UploadImage from "../components/UploadImage";
import Upload from "../components/Upload.astro"
const endpoint = import.meta.env.VITE_END_POINT;
const subscriptionKey = import.meta.env.VITE_SUBSCRIPTION_KEY;
---
 
<Layout
  title="Contact Us | Descriptive Alt Text Generator | Western Washington University"
>
  <header>
	<Header title="Descriptive Alt Text Generator"/>
	<MainNav/>
  </header>

  <main id="main-content" class="page-content">
    <div class="region-wrapper">
      <h1>Descriptive Alt Text Generator Contact Us</h1>
      <h2>Thai Nguyen</h2>
      <h3>Contact Information</h3>
      <h2>Alex Kefer</h2>
      <h3>Contact Information</h3>
      <h2>David Engebretson</h2>
      <h3>Contact Information</h3>
  

  </main>

  <footer>
	<Footer/>
  </footer>
  
</Layout>
