---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Contact Us | Descriptive Alt Text Generator | Western Washington University"
>
	<!-- main region starts here -->
	<div class="page-content">
		<div class="region-wrapper">
			<h1>Descriptive Alt Text Generator Contact Us</h1>
			<h2>Thai Nguyen</h2>
					<p>
				<a href="mailto:nguyenq9@outlook.com">nguyenq9@outlook.com</a>
							</p>
			<h2>Alex Kefer</h2>
						<p>
				<a href="mailto:kefera@wwu.edu">kefera@wwu.edu</a>
			</p>
			<h2>David Engebretson</h2>
			<p>
				<a href="https://wwu.edu/engebrd2"
					>All of my contact information is on my profile page.</a>
			</p>
			
						
		</div>
	</div>
	<!-- main content region ends here according to the layout.astro file -->
</Layout>
