---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"
import MainNav from "../components/MainNav.astro"
import Footer from "../components/Footer.astro"
import Upload from "../components/Upload.astro"
const endpoint = import.meta.env.VITE_END_POINT;
const subscriptionKey = import.meta.env.VITE_SUBSCRIPTION_KEY;
---
 
<Layout
  title="Contact Us | Descriptive Alt Text Generator | Western Washington University"
>

  <main id="main-content" class="page-content">
    <div class="region-wrapper">
      <h1>Descriptive Alt Text Generator Contact Us</h1>
      <h2>Thai Nguyen</h2>
      <h3>Contact Information</h3>
      <p>
        <a href="mailto:nguyenq9@outlook.com">nguyenq9@outlook.com</a> <br>
        <a href="tel:3605104299">(360) 510-4299 </a>
      </p>
      <h2>Alex Kefer</h2>
      <h3>Contact Information</h3>
      <h2>David Engebretson</h2>
      <h3>Contact Information</h3>
      <p><a href="https://wwu.edu/engebrd2">All of my contact information is on my profile page.</a></p>
      <h2>Carly Gerard</h2>
      <h3>Contact Information</h3>
      <h2>Max Bronsema</h2>
      <h3>Contact Information</h3>
		</div>
  </main>
</Layout>
