---
import Layout from "../layouts/Layout.astro";
import RefineResults from "../components/RefineResults.astro";
import Upload from "../components/FileUpload.astro";
import UrlUpload from "../components/UrlUpload.jsx";
import ResultsSection from "../components/ResultsSection.astro";

import TextGenerator from "../components/TextGenerator.astro";

---
<Layout
	title="Generate | Descriptive Alt Text Generator | Western Washington University">
	
	<div class="page-content">
		<div class="region-wrapper">
			<h1>Generate!</h1>
			<TextGenerator />
			<ResultsSection/>
			<br>
		<!-- class region-wrapper -->
	</div> <!-- class page-content -->
	
</Layout>
