---
import Layout from "../layouts/Layout.astro";
---
 
<Layout
  title="History | Descriptive Alt Text Generator | Western Washington University"
>

<!-- main starts here according to the layout.astro file -->
<div class="page-content">
    <div class="region-wrapper">
      <h1>Descriptive Alt Text Generator History Pages</h1>
      <ul>
      <li>Personal</li>
      <li>Admin Access Only</li>
      </ul>
		</div>
    </div>
  
  <!-- main ends here according to the layout.astro file -->
</Layout>
