---
import Layout from "../layouts/Layout.astro";
import RefineResults from "../components/RefineResults.astro";
import Upload from "../components/FileUpload.astro";
import TextGenerator from "../components/TextGenerator.astro";

---
<Layout
	title="Home | Descriptive Alt Text Generator | Western Washington University">
	<!-- The main element starts here, according to  layout.astro -->
	<div class="page-content">
		<div class="region-wrapper">

			<h1>Descriptive Alt Text Generator (DATG)</h1>
			<h2>Why Did We Create the DATG?</h2>
			<p>The intent of the design of the DATG, at its inception, was to create a tool that could help all content creators across Western Washington University (WWU) create more effective and engaging alt text without a bunch of frustration during the alt text creation process. </p>
				<p>
									Please be aware that the results from these AI engines we use might not always be correct. Consider all responses from AI engines as a subjective idea rather than an objective truth. Verify your results from the AI engines before publishing results to the public.
								</p>
			<h2>How the DATG works</h2>
								<p>
					Upload an image file from your computer or link to an image. Linking to an image on the web is still a work in progress.
				</p>
				<h3> Quick Engage with the DATG</h3>
					<ul>
						<li><b>Sign In: </b>Open https://datg.wwu.edu/ in your favorite browser.</li>
						<li><b>Generate Alt Text</b>Navigate to the "Generate Alt Text element in the main navigation menu above."</li>
						<li>
							<b>File Upload: </b>Drag and drop a file from your device into the file area or select the 'Choose File' button to choose a file to evaluate.
						</li>
						<li>
							<b>Link To Image: </b>Input a direct link to an image on the web. This is a work in progress. We'll follow up with updates as we explore and experiment more.</li>
					</ul>
				</p>
				<p>
<h3>The Basics of the DATG Interface</h3>
					<p>After uploading your image, press the "Evaluate Image" button, then search through the results from the different AI engines (currently the DATG have Gemini and ChatGPT working) Hopefully this tool will help foster the formulation of  ideas while creating alt text of your own.
				</p>
				<p>
				<h2>Refine Your Results</h2>
					<p> After receiving initial results from the DATG it is possible to add additional information that will help the AI engine rewrite the initially given alternative text. Then a quick press of the "Refine" button will hopefully render some modified results.</p>
			

<h2>Please Do Share</h2>
			<p> Please do  share your experiences below. Feedback is really important to us.</p>

				<h3>Suggestions and/or Comments?</h3>
<p>
				If you have suggestions and/or comments as to how to make this user interface more accessible for you then please
				send comments to <a href="mailto:engebrd2@wwu.edu">David Engebretson</a>. 
			</p>
			<p>
	<h2>GETTING STARTED!</h2>
			<p>		Get started by clicking the "Generate Alt Text" item in the main navigation above. If you have access to a wwu.edu domain email address under Active Directory, you should be golden to login. This service is only available to those with current wwu.edu logins.</p>


		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
