---
import Layout from "../layouts/Layout.astro";
import RefineResults from "../components/RefineResults.astro";
import Upload from "../components/FileUpload.astro";
import TextGenerator from "../components/TextGenerator.astro";

---
<Layout
	title="Home | Descriptive Alt Text Generator | Western Washington University">
	<!-- The main element starts here, according to  layout.astro -->
	<div class="page-content">
		<div class="region-wrapper">

			<h1>Descriptive Alt Text Generator (DATG)</h1>
			<h2>Why Did We Create the DATG?</h2>
			<p>The intent of the design of the DATG at its inception, was to help all content creators across Western Washington University create more effective alt text. We saw the need for alt text authors to have a tool that would provide suggestions for coherent and useful alt text suggestions. The results from the DATG are just suggestions.
				</p>
				<p>
									Please be aware that the results from the AI engines might not always be correct. Do consider all responses from AI engines as a subjective idea rather than an objective truth. AI engines aren't necessarily always truthful. Sometimes AI engines will respond with information that isn't fully relevant or correct. Berify your results from this tool before publishing to the public.
								</p>
			<h2>How It works</h2>
			<div>
				<p>
					Pick the method of inputting an image, either upload from your local
					computer or link to an image. Linking to an image on the web is still a work in progress. We are almost there.
				</p>
				<h3> Engage with the DATG</h3>
					<ul>
						<li>
							<b>File Upload: </b>Drag and drop a file from your device into the file area or select the 'Choose File' button to choose a file.
						</li>
						<li>
							<b>Link To Image: </b>Input the direct link to an image on the web
							you would like to evaluate. </li>
					</ul>
				</p>
				<p>
<h3>The Basics of the DATG</h3>
					<p>After uploading your image, press the "Evaluate Image" button, then search through the results from the different AI engines (currently the DATG have Gemini and ChatGPT) with heading level 3's at their respective positions. Hopefully this tool will help you formulate ideas as to how to best explore the creation of interactive and interesting alt text on images.
				</p>
				<p>
				<h2>Refine Your Results</h2>
					After receiving initial results from the DATG you can add to the edit field of your results, and/or expand
					the "Refine Results" button below each AI engine to enter additional information. This additional information will help the AI engine rewrite the initially given alternative text. Then the user should press the "Refine" button to change the results from the engine.</p>
			</div>

<h2>Please Do Share</h2>
			<p> Please do  share your experiences below. Feedback is really important to us.</p>

				<h3>Suggestions and/or Comments?</h3>
<p>
				If you have suggestions and/or comments as to how to make this service better then please
				send comments to <a href="mailto:engebrd2@wwu.edu">David Engebretson</a>.	
			</p>
			<h3>GETTING STARTED!</h3>
			<p>		Get started by clicking the "Generate Alt Text" item in the main navigation above. If you have access to a wwu.edu domain email address under Active Directory, you should be golden to login at Western Washington University.</p>


		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
