---
import Layout from "../layouts/Layout.astro";
import RefineResults from "../components/RefineResults.astro";
import Upload from "../components/FileUpload.astro";
import UrlUpload from "../components/UrlUpload.jsx";

import TextGenerator from "../components/TextGenerator.astro";

---
<Layout
	title="Home | Descriptive Alt Text Generator | Western Washington University">
	<div class="page-content">
		<div class="region-wrapper">
			<h1>Descriptive Alt Text Generator (DATG)</h1>
			<h2>Why Did We Create the DATG?</h2>
			<p>The DATG was created to help all content creators across Western Washington University create better alt text. We saw the need for alt text authors to have a tool that would provide suggestions for coherent and useful alt text. Please be aware that the results from the AI engines might not always be correct. Please do consider all responses from AI engines as a subjective idea rather than an objective truth. AI engines aren't necessarily always truthful. Sometimes AI engines will respond with information that isn't fully relevant. Please do verify your results.</p>
			<h2>How It works</h2>
			<div>
				<p>
					Pick the method of inputting an image, either upload from your local
					computer or link to an image (WIP). Linking to an image on the web is still a work in progress. 
				</p>
				<p>
<h3> Engage </h3>
					<ul>
						<li>
							<b>File Upload: </b>Drag and drop a file from your device into the file area or select the 'Choose File' button to choose a file.
						</li>
						<li>
							<b>Link To Image: </b>Input the direct link to an image on the web
							you would like to evaluate. WIP)
						</li>
					</ul>
				</p>
				<p>
<h3> Basics</h3>
					After uploading your image, press the "Evaluate Image" button, then
					search through the results from the different AI engines (currently Gemini and ChatGPT) for ideas as
					to how to best create the alt text for your uploaded image.
				</p>
				<p>
				<h2>Refine Your Results</h2>
					After receiving results you can add to the edit field, and/or expand
					the "Refine Results" button below each AI engine to enter additional information 
					helping the AI engine rewrite the initially given alternative text,
					then click the "Refine" button to re-evaluate the image with your refined information
				</p>
			</div>
			<p>
			
			
				<h3>Suggestions?</h3>
<p>
				If you have suggestions as to how to make this service better then please
				send comments to <a href="mailto:engebrd2@wwu.edu">David Engebretson</a>
			</p>

			<!--
<h2>Get Started!</h2>
<form action=".auth/login/aad" method="post">
	<button type="submit" class="btn btn-primary">Login with your Western ID</button>
</form>
-->

		</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
