---
import Layout from "../layouts/Layout.astro";

---
<Layout
	title="Home | Descriptive Alt Text Generator | Western Washington University">
	<!-- The main element starts here, according to  layout.astro -->
	<div class="page-content">
		<div class="region-wrapper">

			<h1>Descriptive Alt Text Generator (DATG)</h1>
<h2>WebTech is currently refining the functionality of the DATG.</h2>
<p>Pleas use CoPilot from your Western MS Office instance for defining alt text on images for now. </p>
<h2>Have Questions? </h2>
<p>Please contact <a href="mailto:engebrd2@wwu.edu">David Engebretson (of WebTech) via email</a> for assistance.</p>


</div> <!-- class region-wrapper -->
	</div> <!-- class page-content -->
</Layout>
