---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Login | Descriptive Alt Text Generator | Western Washington University"
>
	<!-- main starts here according to the layout.astro file -->
	<div class="page-content">
		<div class="region-wrapper">
			<h1>Descriptive Alt Text Generator Login</h1>
			<form action=".auth/login/aad" method="post">
				<button type="submit">Login with your Western ID</button>
			</form>
			<p>*User must have an account with Western Washington University to access.</p>
		</div>
	</div>

	<!-- main ends here according to the layout.astro file -->
</Layout>
