---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Login | Descriptive Alt Text Generator | Western Washington University"
>
	<!-- main starts here according to the layout.astro file -->
	<div class="page-content">
		<div class="region-wrapper">
			<h1>Descriptive Alt Text Generator Login</h1>
			<a href="/.auth/login/aad"><button>Login</button></a>
		</div>
	</div>

	<!-- main ends here according to the layout.astro file -->
</Layout>
