---
import Layout from "../layouts/Layout.astro";
---
 
<Layout
  title="Administration Login Page | Descriptive Alt Text Generator | Western Washington University"
>

<!-- main starts here according to the layout.astro file -->
<div class="page-content">
    <div class="region-wrapper">
      <h1>Descriptive Alt Text Generator Login Page</h1>
      <button>Login</button>
		</div>
    </div>
  
  <!-- main ends here according to the layout.astro file -->
</Layout>
