---
import Layout from "../layouts/Layout.astro";
---
 
<Layout
  title="Usage And Cost Data | Descriptive Alt Text Generator | Western Washington University"
>

<!-- main starts here according to the layout.astro file -->
<div class="page-content">
    <div class="region-wrapper">
      <h1>Descriptive Alt Text Generator Usage And Cost Data</h1>
      <h2>Data Usage</h2>
      <p>A data table here to present cost and usage information along a predictive timeline</p>

      <button>Download CSV</button>

    </div>
    </div>
  
  <!-- main ends here according to the layout.astro file -->
</Layout>
